/* Main */
html,body{
	width: 100%;
	height: 100%;

	margin: 0;
    padding: 0;

  	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

div {
	height: 50%;
	width: 50%;

	margin: auto;
	margin-top: 200px;
	border: 1px black solid;
}